@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color:#fcfcfc;
}

.main {
	padding-top:70px;
	padding-left:40px;	
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.header {
	margin-bottom: 30px;
}

ul, ol {
	list-style: none;
}

label.frontpage {
  display: inline;
}

div.centerbox {
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

input.check {
  display: inline;
}

.menu-bar-item {
	display: inline-block;
	padding-right: 6px;
	padding-left: 6px;
}

.center {
	text-align:center;
}

#title {
	text-transform: uppercase;
	font-size: 18px;	
}

#logo-container {
	padding-top: 112px;
}

#logo-text {
	font-size: 60px;
	font-weight: bolder;
	text-transform: uppercase;
}

#search-form {
	padding-top: 80px;
}

#search-input {
	width: 454px; 
	height: 18px;
}

#search-results-input {
  margin-top: 1em;
  margin-bottom: 1em;
}

#search-results-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

#select-lang {
	padding-top: 12px;
}

#select-lang-text {
	font-weight:bold;
}

#select-lang #spanish, #select-lang #guarani{
	margin-right: 30px;
}

.submit-button {
	margin: 16px 8px;
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,.1);
	color: #444 !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default !important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#search-button-text {
	font-size:22px;
	font-weight:bold;
	vertical-align: top;
	padding: 2px 16px 3px;
	border: 2px;
}

span.notranslation {
    font-style: italic;
    color: #aaa;
}

span.browsetag {
  display: inline-block;
  color: #aaa;
}

.translateRow {
    padding-bottom: 1em;
}

.translateRow:hover {
    background: #f0f0f0;
}

.translation:hover {
    color: gray;
    text-decoration: underline;
}

.savebutton {
  cursor: pointer;
}

.inputtranslation {
  width: 100%;
}

p.startpage-para {
  font-size: large;
}

.historylink {
    font-style: italic;
    color: #aaa;
}

/*** Persona buttons from Mozilla, by Sawyer Hollenshead ***/
/* Link body */
.persona-button{
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2);

  background: #297dc3;
  background: -moz-linear-gradient(top, #43a6e2, #287cc2);
  background: -ms-linear-gradient(top, #43a6e2, #287cc2);
  background: -o-linear-gradient(top, #43a6e2, #287cc2);
  background: -webkit-linear-gradient(top, #43a6e2, #287cc2);
  background: linear-gradient(top, #43a6e2, #287cc2);

  -moz-border-radius:   3px;
  -ms-border-radius:     3px;
  -o-border-radius:     3px;
  -webkit-border-radius:   3px;
  border-radius:       3px;

  -moz-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
  -ms-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
  -o-box-shadow:     0 1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow:     0 1px 0 rgba(0,0,0,0.2);
}

.persona-button:hover{
  color: #fff;
  background: #21669f;
  background: -moz-linear-gradient(top, #3788b9, #21669f);
  background: -ms-linear-gradient(top, #3788b9, #21669f);
  background: -o-linear-gradient(top, #3788b9, #21669f);
  background: -webkit-linear-gradient(top, #3788b9, #21669f);
  background: linear-gradient(top, #3788b9, #21669f);
}

.persona-button:active, .persona-button:focus{
  top: 1px;
  -moz-box-shadow:   none;
  -ms-box-shadow:   none;
  -o-box-shadow:     none;
  -webkit-box-shadow: none;
  box-shadow:     none;
}

.persona-button span{
  display: inline-block;
  padding: 5px 10px 5px 40px;
}

/* Icon */
.persona-button span:after{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAAA4klEQVR42o2RWaqEMBRE3YaCiDjPwQGcd9CrysLv4wTyoLFD90dxqbp1EgdPRB7Kskznea6Zn/aPoKoqUUrJOI5m4l2QBfSyLHKep1zXZSae3An1fS/7vst931bGkzuhaZrsLVbGkzuheZ7lOI6HyJ2QUkqv6yrbtv0LT+6E7G0UrfBfP3lZlpoXH4ZBmHgn5Pv+KwxDfqp0XQdgJp6c/RsUBIGOokiSJDE/s21bACbe5Ozp0TdAHMdSFIXUdS1N01C2wpObPT36HifwCJzI0iX29Oh7XP0E3CB9L01TzM+i/wePv4ZE5RtAngAAAABJRU5ErkJggg==) 10px center no-repeat;
  content: '';
  display: block;
  width: 31px;

  position: absolute;
  bottom: 0;
  left: -3px;
  top: 0;
  z-index: 10;
}

/*  Icon background */
.persona-button span:before{
  content: '';
  display: block;
  height: 100%;
  width: 20px;

  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1;

  background: #42a9dd;
  background: -moz-linear-gradient(top, #50b8e8, #3095ce);
  background: -ms-linear-gradient(top, #50b8e8, #3095ce);
  background: -o-linear-gradient(top, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(top, #50b8e8, #3095ce);
  background: linear-gradient(top, #50b8e8, #3095ce);

  -moz-border-radius:   3px 0 0 3px;
  -ms-border-radius:     3px 0 0 3px;
  -o-border-radius:     3px 0 0 3px;
  -webkit-border-radius:   3px 0 0 3px;
  border-radius:       3px 0 0 3px;
}

/* Triangle */
.persona-button:before{
  background: #42a9dd;
  content: '';
  display: block;
  height: 26px;
  width: 26px;

  position: absolute;
  left: 2px;
  top: 50%;
  margin-top: -13px;
  z-index: 0;

  background: -moz-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -ms-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -o-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: linear-gradient(-45deg, #3095ce, #50b8e8); /* flipped for updated spec */

  -moz-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
  -ms-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
  -o-box-shadow:     1px -1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
  box-shadow:     1px -1px 1px rgba(0,0,0,0.1);

  -moz-transform:   rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:     rotate(45deg);
  -webkit-transform:   rotate(45deg);
  transform:       rotate(45deg);
}

/* Inset shadow (required here because the icon background clips it when on the `a` element) */
.persona-button:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  -moz-border-radius:   3px;
  -ms-border-radius:     3px;
  -o-border-radius:     3px;
  -webkit-border-radius:   3px;
  border-radius:       3px;

  -moz-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
  -ms-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
  -o-box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
  box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
}

.dictionary {
  text-align: center;
  background: #aaaadd;
}
