<h1 translate>BROWSEHEADER</h1>
<hr/>

<div ng-controller="BrowseCtrl">

  <h1 translate>TAGS</h1>
  <p>
      <span class="browsetag" ng-repeat="tag in allTags.tags">
        &nbsp;[<a href="#/browse/{{tag}}">{{tag}}</a>]&nbsp;
      </span>
  </p>
  </ul>

  <h1><span translate>DOCUMENTS</span>
      <span ng-if="!notag">: {{tagname}}</span></h1>
  <p ng-if="notag" translate>PLEASECLICK</p>
  <ul ng-if="tagDocuments.documents">
    <li ng-repeat="document in tagDocuments.documents">
      <a href="#/edit/{{document.id}}">{{document.title}}</a>
    </li>
  </ul>
</div>

