<h2 translate>NEWPERSONAUSER</h1>
<hr/>

<div ng-controller="CreateUserCtrl">
  <p>Almost done creating your account for {{email.email}}!!</p>

  <p>If you don't want a register an account with this email address, feel free
  to <a href="#/logout">cancel!</a></p>

  <form ng-submit="submit(username)" 
        ng-if="!currentUser.username">
    <dl>
      <dt>Username:
      <dd><input type=text name=username size=30
                 ng-model="username"/>
    </dl>
    <div class=actions><button type=submit translate>CREATEACCOUNT</button></div>
  </form>

</div>

