        <h1>{{thedocument}}</h1>
            <div ng-controller="translateCtrl">
                <div class="row-fluid translateRow" ng-repeat="pair in pairs">
                    <div class="span5">
                        {{ pair[0].content }}
                    </div>
                    <div ng-if="currentUser.username"
                         class="span5 offset2" ng-click="startEditing(pair[1])">
                        <div class="translation" ng-hide="pair[1].editing">
                            <span ng-if="pair[1].content == null"
                                      class="notranslation" translate>NOTRANSLATION</span>
                            {{ pair[1].content }}
                        </div>
                        <form ng-submit="doneEditing(pair[1])" 
                              ng-show="pair[1].editing">
                            <input class="inputtranslation"
                                   ng-change="tildes(pair[1])"
                                   ng-model="pair[1].content">
                        </form>
                        <a class="savebutton"
                           ng-show="pair[1].editing"
                           ng-click="doneEditing(pair[1]);"
                           translate>SAVE</a>
                    </div>
                    <div ng-if="!currentUser.username"
                         class="span5 offset2">
                        <div class="translation-notloggedin">
                            <span ng-if="pair[1].content == null"
                                  class="notranslation"
                                  translate>NOTRANSLATION_NOTLOGGEDIN</span>
                            {{ pair[1].content }}
                        </div>
                    </div>
                    <div class="span1" ng-if="pair[1].content">
                        [<a class="historylink"
                           href="#/sentence/{{pair[1].sentenceid}}"
                           translate>HISTORY</a>]
                    </div>
                    <div class="span10 dictionary"
                        ng-if="useDictionary"
                        ng-show="pair[1].editing">
                        {{ pair[2] }}
                    </div>
                </div>
            </div>
