<h1 translate>LOGIN</h1>

<div ng-controller="LoginCtrl">
  <div class="container">
    <div ng-if="loginError" class="alert alert-error">
      <h4>Error!</h4>
      Something went wrong on the login! Please try again!
    </div>
    <br>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <ul ng-if="currentUser.username">
        <li><a>currently logged in as {{currentUser.username}}</a></li>
         <li><a href="#/logout"><em>log out</em></a></li>
      </ul>
      <form ng-submit="doLogin(username,password)" 
            ng-if="!currentUser.username">
        <dl>
          <dt>Username:
          <dd><input type=text name=username size=30
                     ng-model="username"/>
          <dt>Password:
          <dd><input type=password name=password size=30
                     ng-model="password"/>
        </dl>
        <button type="submit">Log In!</button>
      </form>
    </div>
    <div class="span6"
         ng-if="!currentUser.username">
      <p>
        <span translate>PERSONAINTRO</span>
      </p>
      <a ng-click="personaLogin()"
         class="persona-button"><span translate>PERSONAMESSAGE</span></a>
      <p><em>
        <span translate>PERSONABEFORE</span>
        <a href="http://www.mozilla.org/en-US/persona/" translate>PERSONALINK</a>
        <span translate>PERSONAAFTER</span>
      </em></p>
    </div>
  </div>
</div>
