
<div ng-controller="LoginCtrl">
  <div class="container">
    <div ng-if="loginError" class="alert alert-error">
      <h4>Error!</h4>
      Something went wrong on the login! Please try again!
    </div>
    <br>
  </div>
  <div class="row-fluid">
    <div class="span6"
         ng-if="!currentUser.username">
      <h1 translate>PERSONALOGIN</h1>
      <p>
        <span translate>PERSONAINTRO</span>
      </p>
      <a ng-click="personaLogin()"
         class="persona-button"><span translate>PERSONAMESSAGE</span></a>
      <p><em>
        <span translate>PERSONABEFORE</span>
        <a href="http://www.mozilla.org/en-US/persona/" translate>PERSONALINK</a>
        <span translate>PERSONAAFTER</span>
      </em></p>
    </div>
  </div>
</div>
