<div class="hero-unit">
    <h1 class="center">Guampa</h1>
    <h2 class="center" translate>HEADLINE</h2>

    <br>

    <p class="startpage-para" translate>PARAGRAPH1</p>

    <br>

    <p class="startpage-para" translate>PARAGRAPH2</p>

    <br>

    <div class="row">
        <button class="btn btn-large btn-primary center" href="http://github.com/hltdi/guampa">Guampa on Github</a>
    </div>
    <div class="row">
        <button class="btn btn-primary center" href="http://hltdi.github.io">hltdi</a>
    </div>

</div>

<hr/>
