<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Angular</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <script src="angular.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="translateApp">
        <div class="row">
            <div class="span5" ng-controller="translateCtrl">
                <ul ng-repeat="sentence in sentences">
                    <li>{{sentence.content}}</li>
                </ul>
            </div>
            <div ng-controller="translateCtrl"
                 class="span5 offset2">
                <ul>
                    <li ng-repeat="sentence in sentences">
                        <span ng-dblclick="editTranslation(sentence)" ng-hide="editedItem == sentence">
                            {{ sentence.content }}
                        </span>
                        <form ng-submit="finishTranslation(sentence)">
                            <input ng-model="sentence.content" ng-show="editedItem == sentence">
                        </form>
                        <a href="#" ng-show="editedItem" ng-click-></a>
                    </li>                        
                </ul>
             </div>
        </div>
        <div id="modalComments" class="modal hide fade" tabindex="-1" role="dialog"
             aria-labeledby="modalCommentsLabel" aria-hidden="true">
           <p>test</p> 
        </div>
    </body>
</html>